<div class="card">
  <h2>Transactions</h2>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Type</th>
        <th>Points</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.user.email rescue transaction.user.id %></td>
          <td>
            <span class="badge <%= transaction.transaction_type %>">
              <%= transaction.transaction_type.titleize %>
            </span>
          </td>
          <td><%= transaction.points %></td>
          <td><%= transaction.created_at.strftime("%b %d, %Y") %></td>
          <td><%= transaction.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= loyalty_paginate @transactions %>
</div> 